%h1 Hello World!
= link_to "Privacy Policy", privacy_policy_path, class: "btn btn-lg btn-warning"
= link_to privacy_policy_path, class: "btn btn-lg btn-warning" do
  %i.fas.fa-file-word
  Privacy Policy
%h1
  Example heading
  %span.badge.bg-secondary New
%h2
  Example heading
  %span.badge.bg-secondary New
%h3
  Example heading
  %span.badge.bg-secondary New
%h4
  Example heading
  %span.badge.bg-secondary New
%h5
  Example heading
  %span.badge.bg-secondary New
%h6
  Example heading
  %span.badge.bg-secondary New
%i.far.fa-address-book
%i.fab.fa-github.fa-spin
= link_to root_path do
  %i.far.fa-gem.fa-3x
  Home
  
= link_to courses_path, class: 'btn btn-success' do
  %i.fas.fa-book.fa-3x
  Course


