@import "bootstrap";

.m-l-10px {
  margin-left: 10px;
}

.m-t-10px {
  margin-top: 10px;
}

.p-t-6px {
  padding-top: 6px;
}

.p-t-50px {
  padding-top: 50px;
}

.p-b-50px {
  padding-bottom: 50px;
}

.p-l-25px {
  padding-left: 25px;
}



.jumbotron{
  color: #000000;
  background: linear-gradient(to bottom, lightyellow 0%, lightyellow 33%, yellow 33%, yellow 66%, orange 66%, orange 100%);
}

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }
