@import "bootstrap";

.m-l-10px {
  margin-left: 10px;
}

.p-t-50px {
  padding-top: 50px;
}

.p-b-50px {
  padding-bottom: 50px;
}

.p-l-25px {
  padding-left: 25px;
}



.jumbotron{
  color: #FFFFFF;
  background-color: #777777 !important;
}